In [ ]:
a=b=c=20
print(a,b,c)
print(id(a))
print(id(b))
print(id(c))
print(type(b))
b=30
print(a,b,c)
print(id(a))
print(id(b))
print(id(c))

20 20 20
94772631186528
94772631186528
94772631186528
<class 'int'>
20 30 20
94772631186528
94772631186848
94772631186528

In [ ]:
#Summ Program

x=int(input("x="))
y=int(input("y="))
sum = x+y
print(sum)

x=3
y=5
8

In [ ]:
#check type
x=input("enter multiple values:")
print(x)
print(type(x))

enter multiple values:3 6 5 4 7 8 9
3 6 5 4 7 8 9
<class 'str'>

In [ ]:
#split method
x=input("enter multiple values:")
print(x)
print(type(x))

val = x.split()
print(val)

enter multiple values:2 3 6 5 4 7 8 9
2 3 6 5 4 7 8 9
<class 'str'>
['2', '3', '6', '5', '4', '7', '8', '9']

In [ ]:
#reach each value
#convert string to integer

x=input("enter multiple values:")
print(x)
print(type(x))

val = [int (i) for i in x.split()]
print(val)
print(type(val))

enter multiple values:5
5
<class 'str'>
[5]
<class 'list'>

In [ ]:
#list
li = ["hello", 21,2,53,6,65,4,8,"boy"]
print(li)
print(type(li))

['hello', 21, 2, 53, 6, 65, 4, 8, 'boy']
<class 'list'>

In [ ]:
#sorting and reverse
li=[1,5,3,9,7,4,5,22,33,64,12]
li.sort()
print(li)

li.reverse()
print(li)

[1, 3, 4, 5, 5, 7, 9, 12, 22, 33, 64]
[64, 33, 22, 12, 9, 7, 5, 5, 4, 3, 1]

In [ ]:
#slicing(print selected number from index)

li=[1,5,6,7,8,9,5,4,5,7]
print(li[0:3])
print(li[ :4])
print(li[3: ])
print(li[:]) #[start:end]
print(li[-3])#print from right to left

[1, 5, 6]
[1, 5, 6, 7]
[7, 8, 9, 5, 4, 5, 7]
[1, 5, 6, 7, 8, 9, 5, 4, 5, 7]
4

In [ ]:
li=[1,5,6,7,8,9,5,4,5,7]
print(li[0:3:1]) #strt:end:step
print(li[0:5:2])#step skips the index 
print(li[::3]) 
print(li[::-1]) #list in reveese order

[1, 5, 6]
[1, 6, 8]
[1, 7, 5, 7]
[7, 5, 4, 5, 9, 8, 7, 6, 5, 1]

In [ ]:
#sort in decending order
li=[int(i) for i in input("Enter the list values : ").split()]
li.sort(reverse=True)
print("Decending sorted list = " , li)

Enter the list values : 2 6 2 1 2 3 5
Decending sorted list =  [6, 5, 3, 2, 2, 2, 1]

In [ ]:
#repetition in list
li=[1,5,6,7,8]
print(li*4)

[1, 5, 6, 7, 8, 1, 5, 6, 7, 8, 1, 5, 6, 7, 8, 1, 5, 6, 7, 8]

In [ ]:
#concatenation
first = [1,2,6]
last = [3,5,4] 
print (first+last)

[1, 2, 6, 3, 5, 4]

In [ ]:
#membership
li=[1,3,4,5,55,87,64,53]
print(35 in li)

False

In [ ]:
#iteration
li=[1,3,4,5,55,87,64,53]
for i in li:
  print (i)
  print (3 in li)
  #print (i, end = "" )

1
True
3
True
4
True
5
True
55
True
87
True
64
True
53
True

In [ ]:
#iteration
li=[1,3,4,5,55,87,64,53]
for i in li:
  print (i)
  print (3 in li)
  #print (i, end = "" )

1
True
3
True
4
True
5
True
55
True
87
True
64
True
53
True

In [ ]:
#add element (append method)
li=[1,3,4,5,55,87,64,53]
li.append(2)
print (li)

[1, 3, 4, 5, 55, 87, 64, 53, 2]

In [ ]:
#Pop and delete method
li=[1,3,4,5,55,87,64,53]
li.append(2)
print (li)
li.pop(3)#delete index
print (li)
li.remove(3)#deletes number
print (li)

[1, 3, 4, 5, 55, 87, 64, 53, 2]
[1, 3, 4, 55, 87, 64, 53, 2]
[1, 4, 55, 87, 64, 53, 2]

In [ ]:
#insert (index, number)
li=[1,3,4,5,55,87,64,53]
li.insert(3,7)
print (li)

[1, 3, 4, 7, 5, 55, 87, 64, 53]

In [ ]:
#delete list
li=[1,3,4,5,55,87,64,53]
del li

In [ ]:
#count number
li=[1,3,4,5,55,4,4,87,64,53]
print (li.count(4))
print (li.index(55))#index position of 55

3
4

In [ ]:
#Assignment2 - remove all occurances of an element from a list

In [ ]:
#Tuple(can contain multiple data type) -immutable
#method - count() & -index()
t= (1,2,3,"hello",10.30)
print (t)
print(type(t))

(1, 2, 3, 'hello', 10.3)
<class 'tuple'>

In [ ]:
li = [2]
print(type(li))

tup = (10)
print(type(tup))

tup = (10,)#tuple with 1 element need a ','
print(type(tup))

<class 'list'>
<class 'int'>
<class 'tuple'>

In [ ]:
#create set
set = {1,5,3,6,2,4,4} #unorder & save unique numbers
print(set)
print(type(set))

li = [1,2,3,4,5,6]#order
print(li)

{1, 2, 3, 4, 5, 6}
<class 'set'>
[1, 2, 3, 4, 5, 6]

In [ ]:
#set subtraction (delete common number)
num1={1,5,3,20}
num2={1,5,3,10}
print(num1-num2)
print(num1&num2)#set intersection(common)
print(num1.union(num2))#set Union

{20}
{1, 3, 5}
{1, 3, 5, 10, 20}

In [ ]:
#dictionary
details= {"name":"harry","age":15, "power" : "magic"}
print(details)
print(details.get("age"))#get method
print(details['age'])
print(details.get("pet"))
print(details.get("age",0))
print(details.keys())
print(details.values())
print(details.items())
print(type(details))

{'name': 'harry', 'age': 15, 'power': 'magic'}
15
15
None
15
dict_keys(['name', 'age', 'power'])
dict_values(['harry', 15, 'magic'])
dict_items([('name', 'harry'), ('age', 15), ('power', 'magic')])
<class 'dict'>

In [ ]:
#square root using modules
import math
num = 64
print(math.sqrt(64))
print(math.pow(2,5))

8.0
32.0

In [ ]:
#project - generating 6 character OTP

import random as r
import string
length = 6
otp = ""
characters = string.ascii_letters+string.digits
print(characters)

for i in range(length):
  otp=otp+r.choice(characters)

print ("OTP: ", otp)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789
OTP:  7U4t55

In [ ]:
#generate random characters
import random as r
print(r.randint(0, 10))#include 0,10
print(r.randrange(0, 10))#dont include 0,10
print(r.random())  #any random number b/w 0to1

10
4
0.44034072233060606

In [1]:
#assignment3 - Check whether string is pangram

import string
  
alphabet = set(string.ascii_lowercase)
  
def ispangram(str):
     return not set(alphabet) - set(str)
      
# Driver code
string = 'the quick brown fox jumps over the lazy dog'
if(ispangram(string) == True):
    print("Yes")
else:
    print("No")

Yes

In [ ]:
#conditional statements
amt = int(input("enter amount: "))
if amt>=10:
  print("chai+biscuit")
elif amt>=5:
  print("chai")
else:
  print("cashout money")

In [ ]:
#loops (only "for" and "while" loop in python)
#initialisation, condition checking, updaation of counter/loop varible

i=1 #loop variable
while i <=10:
  print("Helios300", end = " ")
  i=i+1

In [13]:
#for loop
for i in range(1,11):
  print('5', end=" ")

5 5 5 5 5 5 5 5 5 5

In [15]:
city="bangalore"
for i in city:
  print(i, end=",")

b,a,n,g,a,l,o,r,e,

In [16]:
x = int(input("enter 1st value: "))
y = int(input("enter 2nd value: "))

res= x**y

print("result = ", res)
print(f"Result = {res}")

enter 1st value: 2
enter 2nd value: 3
result =  8
Result = 8

In [19]:
#functions and decorators
def sum(a, b):
 return a+b

x = 10
y = 20
print(sum(x, y))

30

In [20]:
#define function
def fun():
  print("In the function")
fun()

In the function

In [24]:
def fun(name):
  print("hello",name)

fun("Vamsi")
fun("Vai")
fun("si")

hello Vamsi
hello Vai
hello si

In [34]:
#decorators

#decorator 
def mod_sub(fun): #fun ~ sub
  def inner(a, b):
    if a < b :
      a, b = b, a
    fun(a, b)
  return inner

#sub = mod_sub(sub) #sub ~ inner

@mod_sub
def sub(a,b):
  #if a<b:
   # a,b = b,a
  print(a - b)

sub(33, 20)

13

In [ ]:
#person list
list = [2,1,5,3,4] #list of gifts given to person

#1st person gives gift to person 2
#2nd person gives gift to person 1

print the list of person from whom they have received the gifts.
required output: [2, 1, 4, 5, 3]

In [35]:
#@title Default title text
# Assignment 4 (Final Project)
# Temprature Converter

print("Welcome to the Temperature Converter")

temp = eval(input("Enter the Temperature : "))
converted_temp = (temp * 9/5) + 32

print("Temperature Entered           : ",temp,'\N{DEGREE SIGN}C')
print("Converted Temperature is : ",converted_temp,'\N{DEGREE SIGN}F')

Welcome to the Temperature Converter
Enter the Temperature : 23
Temperature Entered           :  23 °C
Converted Temperature is :  73.4 °F